@media (max-width: 102.4rem) {
  html {
    font-size: 35%;
    overflow: hidden;
  }

  .weather-main {
    height: 25vh;
  }

  .weather-for-the-day {
    height: 25vh;
  }

  .weather-all-temp {
    overflow: scroll;
  }
}
@media (max-width: 76.8rem) {
  .header {
    margin-bottom: 9.2rem;
  }

  .weather-main {
    width: 65vw;
    margin-bottom: 6.4rem;
  }

  .weather-for-the-day {
    width: 65vw;
  }
}

@media (max-width: 42.5rem) {
  html {
    font-size: 24.5%;
  }
  .header {
    flex-direction: column;
    gap: 3.6rem;
    margin-bottom: 19.2rem;
  }
  .weather-main {
    width: 80vw;
  }

  .weather-for-the-day {
    width: 80vw;
  }
  .weather-for-an-hours {
    font-size: 3.6rem;
  }

  .search-label {
    top: -3.8rem;
  }

  .search-field:placeholder-shown + .search-label {
    transform: translateY(3.8rem);
  }
}

@media (max-width: 23.75rem) {
  .weather-main {
    width: 99%;
    height: 20vh;
    position: relative;
  }

  .date-time {
    align-self: center;
  }

  .date {
    font-size: 2.8rem;
  }
  .weather-speed {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%);
  }

  .weather-for-the-day {
    width: 99%;
    height: 20vh;
  }
} ;
